<div class="container text-center" id="skills">
    <h1 class="seccion-titulo texto-negro text-center" style="color: #0DCAF0;">Hard y Soft Skills</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <circle-progress [percent]="90" [radius]="60" [imageSrc]="'./assets/html_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#E44D26'"
                [innerStrokeColor]="'#F16529'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="80" [radius]="60" [imageSrc]="'./assets/css_logo.png'" [showImage]="true"
                [imageWidth]="65" [imageHeight]="65" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#004CE8'"
                [innerStrokeColor]="'#629FF8'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="70" [radius]="60" [imageSrc]="'./assets/js_logo.png'" [showImage]="true"
                [imageWidth]="60" [imageHeight]="60" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#FFDF00'"
                [innerStrokeColor]="'#EDD93B'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="50" [radius]="60" [imageSrc]="'./assets/typescript_logo.png'"
                [showImage]="true" [imageWidth]="60" [imageHeight]="60" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#2D79C7'"
                [innerStrokeColor]="'#007ACD'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <circle-progress [percent]="60" [radius]="60" [imageSrc]="'./assets/java_logo.png'" [showImage]="true"
                [imageWidth]="65" [imageHeight]="65" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#575487'"
                [innerStrokeColor]="'#8B89AC'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="75" [radius]="60" [imageSrc]="'./assets/mysql_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#DE8A03'"
                [innerStrokeColor]="'#105E86'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="50" [radius]="60" [imageSrc]="'./assets/python_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#366994'"
                [innerStrokeColor]="'#FFE052'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="65" [radius]="60" [imageSrc]="'./assets/angular_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#B52E31'"
                [innerStrokeColor]="'#E23237'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <circle-progress [percent]="85" [radius]="60" [imageSrc]="'./assets/github_logo.png'" [showImage]="true"
                [imageWidth]="70" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#3859A8'"
                [innerStrokeColor]="'#2F3462'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="55" [radius]="60" [imageSrc]="'./assets/react_logo.png'" [showImage]="true"
                [imageWidth]="73" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#00D8FF'"
                [innerStrokeColor]="'#19AFCB'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="95" [radius]="60" [imageSrc]="'./assets/empatia.png'" [showImage]="true"
                [imageWidth]="73" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#E63950'"
                [innerStrokeColor]="'#F79219'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col">
            <circle-progress [percent]="95" [radius]="60" [imageSrc]="'./assets/companerismo.png'" [showImage]="true"
                [imageWidth]="73" [imageHeight]="70" [showUnits]="false" [showSubtitle]="false"
                [titleFontSize]="'1.5em'" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#ED008D'"
                [innerStrokeColor]="'#5E2491'" [animation]="true" [animationDuration]="700">
            </circle-progress>
        </div>
    </div>
</div>

<!-- Este código HTML representa una sección de habilidades "Hard" y "Soft". Utiliza la biblioteca Circle
Progress para mostrar habilidades en diferentes tecnologías, incluyendo HTML, CSS, JavaScript, TypeScript, Java, MySQL y
Python. Cada habilidad se muestra como un círculo animado que muestra el porcentaje de habilidad en esa tecnología, así
como su logotipo correspondiente. La sección está dividida en tres contenedores diferentes, cada uno con cuatro
habilidades. La sección es estilizada con CSS para que sea visualmente atractiva y se ajuste al diseño general de la
página web. -->