<section id="sobre-mi" class="sobre-mi seccion-oscura">
  <div class="contenedor">
    <h2 class="seccion-titulo">Sobre mí</h2>
    <p class="seccion-texto">
      A lo largo de mi trayectoria profesional, he explorado diversas áreas, desde desempeñar roles administrativos hasta brindar atención al cliente de manera efectiva. En el presente, me encuentro inmerso en una emocionante fase de desarrollo centrada en la programación Full Stack.
      Además, estoy actualmente dedicando tiempo a cursos de Python (IT MASTER) y Unity (UTN-BA), ampliando así mis habilidades en programación y desarrollo de videojuegos y experiencias AR/VR.
      He completado con éxito dos cursos altamente reconocidos en programación Full Stack a través de plataformas de renombre como Argentina Programa y Oracle Next Education (Alura Latam). Mi experiencia laboral me ha permitido cultivar competencias fundamentales en habilidades interpersonales, tales como el trabajo colaborativo, la gestión de conflictos y la empatía. Estas aptitudes han sido esenciales para establecer relaciones sólidas y positivas tanto con mis colegas como con los clientes.
    </p>
    <a href="./assets/Dino-Ferre-CV.pdf" download>
      <button type="button" class="btn btn-outline-info">Descargar CV</button>
    </a>
  </div>
</section>

<!-- Sección "Sobre mí" con un botón para descargar el currículum en PDF. -->
